* ::after, *::before {
    font-family: "Open Sans", sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}
#main {
    background: url(../images/background.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
}

#main img {
    padding-left: 16px;
}

nav {
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
}


#main ul {
    display: flex;
    list-style: none;
}

#main nav ul li {
    margin: 0 40px;
    font-size: 15px;
}

#main nav ul li a {
    color: #ffff;
    text-decoration: none;
}

.content {
    display: flex;
    align-items:center;
    height: calc(100vh - 15px);
    padding: 0 55px;
    color: #ffff;
}

.content div {
    width: 400px;
}

.content h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.content p {
    font-size: 18px;
    opacity: 80%;
}

.content button {
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
}

.content button:hover {
    background: rgb(228, 225, 225);
}

#product {
    padding-top: 100px;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    margin: 0;
}

.descr {
    font-size: 15px;
    opacity: 80%;
    padding: 0px 30%;
}
.items {
    display: flex;
    align-items: flex-start;
    margin: 0 6%;
}
.card {
    margin: 0 20px;
    margin-bottom: 100px;
    box-shadow: 2px 4px 14px 1px rgb(110, 108, 103);
    border: 0;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 230px;

}

.card h3 {
    color: #413939;
    font-size: 20px;
    font-weight:900;
    margin-bottom: 0;
}

.card h5 {
    color: #3cbd35;
    padding: 0;
    margin: 0;
}

.card p {
    font-size: 14px;
    opacity: 60%;
}

 .card-description {
    padding: 0 15px;
}

.card button {
    margin: 10px 10px;
    border: 0;
    width: 92%;
    padding: 12px;
    background-color: #181515;
    color: #fff;
    justify-items: 
}

.card button:hover {
    background: #4d4b4b;
}

.footer {
    background: #363535;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
}

.company, .address{
    width: 300px;
}

.address h4, .address p{
    margin: 0;
}

.company p, .address p {
    font-size: 15px;
    opacity: 80%;
}

.copy { 
    background-color: #131010;
    margin: 0;
    padding: 1px;
    text-align: center;
    color: #ffff;
    font-size: 15px;
    opacity: 90%;
}

@media screen and (max-width:1200px) {
    .card {
        margin: 7px;
    }
}

@media screen and (max-width :700px){
    .items {
        flex-direction: column;
    }
}
